<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uy.com.abitab.iddigitalsdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application>
        <activity
            android:name=".presentation.device_association.ui.DeviceAssociationActivity"
            android:launchMode="singleInstance"
            android:exported="true"
            android:theme="@style/Theme.IDDigitalSDK.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.validation_session.ui.ValidationSessionActivity"
            android:exported="false"
            android:theme="@style/Theme.IDDigitalSDK.NoActionBar" />
    </application>

</manifest>
