<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uy.com.abitab.iddigitalsdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="uy.com.abitab.iddigitalsdk.presentation.liveness.ui.LivenessActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light"
            />
        <activity android:name="uy.com.abitab.iddigitalsdk.presentation.pin.ui.PinActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light"
            />
    </application>

</manifest>
